{% block content %}
<body style="text-align: center;" onload="javascript:onload()">
    <h3>삭제성공!</h3>
    <hr width="100%" color="black" />

    <body>
        <center>
            <img src="{{ url_for('static',filename='images/anbd.png') }}" , width="100" <br><br>
            <hr width="100%" color="black" />
        </center>
    </body>

    <script language="javascript">
        function onload() {
            setTimeout('go_downfile()', 800)
        }
        function go_downfile() {
            location.href = "/downfile"
        }
    </script>
</body>
{% endblock %}